p{
    font-family: Arial, sans-serif;
    text-align: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transforM: uppercase;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(29, 19, 19, 0.2)

}